In [1]:
import re

In [2]:
import os

In [29]:
import pandas as pd

In [30]:
df = pd.read_csv(r"C:\Users\Leila\OneDrive\Desktop\Phyton\Major_cities_data.csv", sep=',')

In [13]:
print(df)

                dt  AverageTemperature  AverageTemperatureUncertainty  \
0       1849-01-01              26.704                          1.435
1       1849-02-01              27.434                          1.362
2       1849-03-01              28.101                          1.612
3       1849-04-01              26.140                          1.387
4       1849-05-01              25.427                          1.200
...            ...                 ...                            ...
239172  01/05/2013              18.979                          0.807
239173  01/06/2013              23.522                          0.647
239174  01/07/2013              25.251                          1.042
239175  01/08/2013              24.528                          0.840
239176  01/09/2013                 NaN                            NaN

           City        Country Latitude Longitude
0       Abidjan  Côte D'Ivoire    5.63N     3.23W
1       Abidjan  Côte D'Ivoire    5.63N     3.23W
2       Abidjan  Côte D'Ivoire    5.63N     3.23W
3       Abidjan  Côte D'Ivoire    5.63N     3.23W
4       Abidjan  Côte D'Ivoire    5.63N     3.23W
...         ...            ...      ...       ...
239172     Xian          China   34.56N   108.97E
239173     Xian          China   34.56N   108.97E
239174     Xian          China   34.56N   108.97E
239175     Xian          China   34.56N   108.97E
239176     Xian          China   34.56N   108.97E

[239177 rows x 7 columns]

In [14]:
df.head

<bound method NDFrame.head of                 dt  AverageTemperature  AverageTemperatureUncertainty  \
0       1849-01-01              26.704                          1.435
1       1849-02-01              27.434                          1.362
2       1849-03-01              28.101                          1.612
3       1849-04-01              26.140                          1.387
4       1849-05-01              25.427                          1.200
...            ...                 ...                            ...
239172  01/05/2013              18.979                          0.807
239173  01/06/2013              23.522                          0.647
239174  01/07/2013              25.251                          1.042
239175  01/08/2013              24.528                          0.840
239176  01/09/2013                 NaN                            NaN

           City        Country Latitude Longitude
0       Abidjan  Côte D'Ivoire    5.63N     3.23W
1       Abidjan  Côte D'Ivoire    5.63N     3.23W
2       Abidjan  Côte D'Ivoire    5.63N     3.23W
3       Abidjan  Côte D'Ivoire    5.63N     3.23W
4       Abidjan  Côte D'Ivoire    5.63N     3.23W
...         ...            ...      ...       ...
239172     Xian          China   34.56N   108.97E
239173     Xian          China   34.56N   108.97E
239174     Xian          China   34.56N   108.97E
239175     Xian          China   34.56N   108.97E
239176     Xian          China   34.56N   108.97E

[239177 rows x 7 columns]>

In [15]:
df.shape

(239177, 7)

In [16]:
df.types

AttributeError: 'DataFrame' object has no attribute 'types'

In [17]:
df.describe

<bound method NDFrame.describe of                 dt  AverageTemperature  AverageTemperatureUncertainty  \
0       1849-01-01              26.704                          1.435
1       1849-02-01              27.434                          1.362
2       1849-03-01              28.101                          1.612
3       1849-04-01              26.140                          1.387
4       1849-05-01              25.427                          1.200
...            ...                 ...                            ...
239172  01/05/2013              18.979                          0.807
239173  01/06/2013              23.522                          0.647
239174  01/07/2013              25.251                          1.042
239175  01/08/2013              24.528                          0.840
239176  01/09/2013                 NaN                            NaN

           City        Country Latitude Longitude
0       Abidjan  Côte D'Ivoire    5.63N     3.23W
1       Abidjan  Côte D'Ivoire    5.63N     3.23W
2       Abidjan  Côte D'Ivoire    5.63N     3.23W
3       Abidjan  Côte D'Ivoire    5.63N     3.23W
4       Abidjan  Côte D'Ivoire    5.63N     3.23W
...         ...            ...      ...       ...
239172     Xian          China   34.56N   108.97E
239173     Xian          China   34.56N   108.97E
239174     Xian          China   34.56N   108.97E
239175     Xian          China   34.56N   108.97E
239176     Xian          China   34.56N   108.97E

[239177 rows x 7 columns]>

In [31]:
df2 = df.copy()

In [20]:
df2.dt.value_counts().sort_index()

dt
01/01/1900    100
01/01/1901    100
01/01/1902    100
01/01/1903    100
01/01/1904    100
             ...
1899-08-01    100
1899-09-01    100
1899-10-01    100
1899-11-01    100
1899-12-01    100
Name: count, Length: 3239, dtype: int64

In [21]:
df2.dt.value_counts()

dt
01/12/1983    100
01/01/1959    100
01/11/1958    100
01/10/1958    100
01/09/1958    100
             ...
1748-08-01     13
1748-07-01     13
1748-06-01     13
1748-05-01     13
1747-06-01     13
Name: count, Length: 3239, dtype: int64

In [22]:
df2.AverageTemperature.value_counts()

AverageTemperature
26.612    35
26.990    34
26.264    33
26.986    31
26.876    30
          ..
4.615      1
13.355     1
6.778      1
3.325      1
5.924      1
Name: count, Length: 42622, dtype: int64

In [23]:
df2.columns

Index(['dt', 'AverageTemperature', 'AverageTemperatureUncertainty', 'City',
       'Country', 'Latitude', 'Longitude'],
      dtype='object')

In [33]:
df2 = df2.rename(columns={'dt': 'Date'})

In [25]:
df2.columns

Index(['Date', 'AverageTemperature', 'AverageTemperatureUncertainty', 'City',
       'Country', 'Latitude', 'Longitude'],
      dtype='object')

In [26]:
df2.dtypes

Date                              object
AverageTemperature               float64
AverageTemperatureUncertainty    float64
City                              object
Country                           object
Latitude                          object
Longitude                         object
dtype: object

Now I know the types of the values in each column.

In [27]:
type(df2['Date'][0])

str

This means that the values in the Date column are recognised as strings.

In [28]:
import datetime

In [34]:
df2['Year'] = pd.DatetimeIndex(df2['Date']).year

In [35]:
df2.dtypes

Date                              object
AverageTemperature               float64
AverageTemperatureUncertainty    float64
City                              object
Country                           object
Latitude                          object
Longitude                         object
Year                               int32
dtype: object

In [36]:
type(df2['Date'][0])

str

In [37]:
df2.head()

,Date,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude,Year
0,1849-01-01,26.704,1.435,Abidjan,Côte D'Ivoire,5.63N,3.23W,1849
1,1849-02-01,27.434,1.362,Abidjan,Côte D'Ivoire,5.63N,3.23W,1849
2,1849-03-01,28.101,1.612,Abidjan,Côte D'Ivoire,5.63N,3.23W,1849
3,1849-04-01,26.140,1.387,Abidjan,Côte D'Ivoire,5.63N,3.23W,1849
4,1849-05-01,25.427,1.200,Abidjan,Côte D'Ivoire,5.63N,3.23W,1849

The date python object is now in a DataTime object.

In [38]:
df2.to_csv('clean_data1.csv', encoding='utf8')