In [1]:

import pandas as pd
df = pd.read_excel("/Users/Gulli/Downloads/worldcities.xlsx")

In [18]:
df

,city,city_ascii,lat,lng,country,iso2,iso3,admin_name,capital,population,id
0,Tokyo,Tokyo,35.6897,139.6922,Japan,JP,JPN,Tōkyō,primary,37977000.0,1392685764
1,Jakarta,Jakarta,-6.2146,106.8451,Indonesia,ID,IDN,Jakarta,primary,34540000.0,1360771077
2,Delhi,Delhi,28.6600,77.2300,India,IN,IND,Delhi,admin,29617000.0,1356872604
3,Mumbai,Mumbai,18.9667,72.8333,India,IN,IND,Mahārāshtra,admin,23355000.0,1356226629
4,Manila,Manila,14.5958,120.9772,Philippines,PH,PHL,Manila,primary,23088000.0,1608618140
...,...,...,...,...,...,...,...,...,...,...,...
26564,Nord,Nord,81.7166,-17.8000,Greenland,GL,GRL,Sermersooq,NaN,10.0,1304217709
26565,Timmiarmiut,Timmiarmiut,62.5333,-42.2167,Greenland,GL,GRL,Kujalleq,NaN,10.0,1304206491
26566,Cheremoshna,Cheremoshna,51.3894,30.0989,Ukraine,UA,UKR,Kyyivs’ka Oblast’,NaN,0.0,1804043438
26567,Ambarchik,Ambarchik,69.6510,162.3336,Russia,RU,RUS,Sakha (Yakutiya),NaN,0.0,1643739159
26568,Nordvik,Nordvik,74.0165,111.5100,Russia,RU,RUS,Krasnoyarskiy Kray,NaN,0.0,1643587468

In [ ]:
lat=df["lat"].values
lng = df["lng"].values

In [ ]:
import folium
print(folium.__version__)

In [ ]:
'''lat=[]
lng=[]
for column_name, item in df.iterrows():
        lat.append(df["lat"].iloc[int(column_name)])

for column_name, item in df.iterrows():
        lng.append(df["lng"].iloc[int(column_name)])'''

In [ ]:
lat

In [ ]:
df.loc[[(df['city']=='London')&(df['country']=='United Kingdom')],['id','country']]

In [ ]:
df[(df['city']=='London')&(df['country']=='United Kingdom')][['id']].values[0]

In [ ]:
id=df.loc[df['city']=='London',['id','country']].iloc[0]['id']
type(id)

In [ ]:
latLon=df.loc[(df['city']=='London')&(df['country']=='United Kingdom'), 'lat'].values[0]
lngLon=df.loc[(df['city']=='London')&(df['country']=='United Kingdom'), 'lng'].values[0]

In [ ]:
latLon

In [ ]:
from ubication import distfrom
dist=distfrom([latLon,lngLon],lat,lng)

In [ ]:
type(lat[0])

In [ ]:
len(lat)

In [ ]:
import create_map #range(len(lat))
for i in range(5):
    map=create_map.Mappa(lat[i] , lng[i] ,df["city"].iloc[i])
#map= folium.Map( location =[30,10], zoom_start=2)
#map.save("Città.html")

In [ ]:
distance = great_circle(point1, point2)

# Print the distance in various units
#print(f"Distance: {distance.kilometers} kilometers")
#print(f"Distance: {distance.miles} miles")
#print(f"Distance: {distance.nautical} nautical miles")
#print(f"Distance: {distance.meters} meters")

In [ ]:
df.loc[df['city']=='London',['id','country']]

In [ ]:
df[df["city"]=="London"][["id","city","country"]]

In [ ]:
df.iloc[3, 0]

In [2]:
df[df["id"]==1826645935]["id"]

34    1826645935
Name: id, dtype: int64

In [ ]:
#for inex, row in df.iterrows():
 #   folium.Marker(location=[df["lat"].iloc[index],df["lng"].iloc[index]],popup=df["city"].iloc[index]).add_to(map)
 #map
folium.Marker(location=[df["lat"].iloc[0],df["lng"].iloc[0]],popup=df["city"].iloc[0]).add_to(map)
map

In [ ]:
if dist [i]==0 :
    pass
elif min<dist[i]:
    min=dist[i]

In [ ]:
i=df.index[(df['lat']==latLon)&(df['lng']==lngLon)]

In [ ]:
dist.remove((0.0,i))

In [ ]:
dist.sort()

In [ ]:
dist

In [ ]:
visited=[]
visited.append(df.iloc[i]['id'].values[0])

In [ ]:
visited

In [ ]:
def nminime (distance,lng,index,n):
    nmin=[]
    for i in range(len(distance)):
        if len(nmin)==n:
            break
        if lng[distance[i][1]]>lng[index]:
            nmin.append([distance[i][0],distance[i][1]])
    return nmin

In [ ]:
#better this one
def nminime2 (distance,lng,index,n):
    nmin=[]
    i=0
    while len(nmin)!=n:
        if lng[distance[i][1]]>lng[index]:
            nmin.append((distance[i][0],distance[i][1]))
        i+=1
    return nmin

In [ ]:
tenmin=nminime(dist,lng,df.index[(df['lat']==latLon)&(df['lng']==lngLon)],10)
tenmin

In [ ]:
tenmin=nminime2(dist,lng,df.index[(df['lat']==latLon)&(df['lng']==lngLon)],10)
tenmin

In [19]:
df[df['city']=='Sofia']

,city,city_ascii,lat,lng,country,iso2,iso3,admin_name,capital,population,id
537,Sofia,Sofia,42.6975,23.3241,Bulgaria,BG,BGR,Sofia-Grad,primary,1355142.0,1100762037

In [ ]:
indexes=[]
for i in range(len(tenmin)):
    indexes.append(tenmin[i][1])
df.iloc[indexes]

In [3]:
lat=df["lat"].values
lng=df["lng"].values
id=df["id"].values
city=df["city"].values
country=df["country"].values

In [4]:
import ubication

In [6]:
#tipo albero, ma incompleto, prova a chiedere al prof!! hai situa su gpt
def trova_percorso(lat,lng,city,id,country,index0,index1,n,distcurr):
    if index0==index1:
        return 0
    d=[]
    cy=[]
    dist=ubication.distfrom([lat[index0],lng[index0]],lat,lng)
    dist.sort
    tenmin=ubication.nminime2(dist,lng,index0,10) #posso metterle insieme e via pem pem
    for i in range(n):
        d.append(distcurr+ tenmin[i][0] +trova_percorso(lat,lng,city,id,country,dist[i][1],index1,n,distcurr))
        cy.append(city[tenmin[i][1]])
    print(cy[d.index(min(d))])
    return min(d)

In [35]:
def trova_percorso_lista(lat,lng,city,id,country,index0,index1,n,distcurr):
    if (index0==index1) & (distcurr!=0):
        return 0
    latmax=[]
    j=0
    dist=ubication.distfrom([lat[index0],lng[index0]],lat,lng)
    dist.sort(key=lambda x: x[0])
    tenmin=ubication.nminime2(dist,lng,index0,n) #posso metterle insieme e via pem pem
    for i in range(n):
        latmax.append((abs(lat[tenmin[i][1]]-lat[index1]),tenmin[i][1]))
        #lngmax.appen((lng[tenmin[i][1]],tenmin[i][1]))
    latmax.sort(key=lambda x: x[0])
    #lngmax.sort(reverse=true)  
    for i in range(n):
        if latmax[0][1] == tenmin[i][1]:
            j=i
    print(city[latmax[0][1]], latmax[0][1],lng[latmax[0][1]],latmax[0][0])
    return distcurr + trova_percorso_lista(lat,lng,city,id,country,latmax[0][1],index1, n,tenmin[j][0])

In [29]:
df[df['city']=='London']

,city,city_ascii,lat,lng,country,iso2,iso3,admin_name,capital,population,id
34,London,London,51.5072,-0.1275,United Kingdom,GB,GBR,"London, City of",primary,10979000.0,1826645935
1669,London,London,42.9836,-81.2497,Canada,CA,CAN,Ontario,NaN,383822.0,1124469960
12232,London,London,37.1175,-84.0767,United States,US,USA,Kentucky,NaN,37714.0,1840015258
17408,London,London,39.8936,-83.4376,United States,US,USA,Ohio,NaN,14870.0,1840000674

In [36]:
trova_percorso_lista(lat,lng,city,id,country,34,34,30,0)

Stepney 6407 -0.0462 0.008000000000002672
Plumstead 6748 0.09 0.01719999999999544
Orsett 26214 0.37 0.00280000000000058
Stanford le Hope 13376 0.4244 0.006800000000005468
Shoeburyness 7512 0.7978 0.024399999999999977
Great Wakering 8057 0.8165 0.044400000000003104
Cliftonville 17610 1.4046 0.11909999999999599
Saint Peters 7741 1.4191 0.14209999999999923
Broadstairs 13985 1.4394 0.148299999999999
Bruges 4024 3.2242 0.29829999999999757
Middelburg 5661 3.61 0.005199999999994986
Essen 15652 4.47 0.039400000000000546
Eindhoven 1622 5.5 0.07719999999999771
Kamp-Lintfort 12204 6.5333 0.007199999999997431
Gelsenkirchen 2208 7.1 0.009500000000002728
Dortmund 1210 7.4653 0.006700000000002149
Unna 10689 7.6889 0.02750000000000341
Rüthen 19648 8.4333 0.01389999999999958
Wünnenberg 18794 8.7 0.009500000000002728
Hofgeismar 17163 9.3872 0.011199999999995214
Duderstadt 15275 10.2597 0.0053000000000054115
Nordhausen 11793 10.7911 0.0021999999999948727
Sangerhausen 13844 11.3 0.04049999999999443
Landsberg 17277 12.1596 0.01740000000000208
Delitzsch 14126 12.3425 0.01920000000000499
Eilenburg 16952 12.6358 0.04639999999999844
Bad Liebenwerda 20931 13.4 0.009500000000002728
Lauchhammer 17446 13.8 0.007199999999997431
Weißwasser 16774 14.6331 0.007199999999997431
Żary 12142 15.1333 0.126100000000001
Brzeg Dolny 18359 16.7081 0.2341999999999942
Sieradz 11725 18.75 0.09280000000000399
Piotrków Trybunalski 10017 19.6833 0.10719999999999885
Dęblin 15494 21.8614 0.059499999999999886
Lubartów 14454 22.6 0.04049999999999443
Kamin’-Kashyrs’kyy 18635 24.9606 0.11700000000000443
Dubrovytsya 20768 26.5667 0.059499999999999886
Ovruch 17010 28.8081 0.1828000000000003
Chernihiv 2024 31.3 0.007199999999997431
Mena 19157 32.2167 0.009500000000002728
Rylsk 16857 34.6833 0.059499999999999886
Lgov 15756 35.2667 0.1595000000000013
Kurchatov 12103 35.65 0.1595000000000013
Semiluki 13772 39.0333 0.17610000000000525
Borisoglebsk 10513 42.0833 0.14049999999999585
Kalininsk 16997 44.45 0.007199999999997431
Saratov 932 46.0 0.026099999999999568
Engels 2493 46.1167 0.04049999999999443
Yershov 15639 48.2833 0.157199999999996
Oral 2153 51.3667 0.2738999999999976
Kuvandyk 14441 57.35 0.02389999999999759
Gay 11789 58.4543 0.03249999999999886
Orsk 2452 58.5441 0.2926999999999964
Yasnyy 17014 59.8667 0.47390000000000043
Derzhavīnsk 16991 66.3075 0.40509999999999735
Ereymentaū 14130 73.1049 0.12310000000000088
Rubtsovsk 3449 81.2 0.009500000000002728
Zmeinogorsk 19968 82.1874 0.3491999999999962
Gorno-Altaysk 5186 85.96 0.4528000000000034
Shagonar 19668 92.9 0.026099999999999568
Baykalsk 18546 104.1561 0.010000000000005116
Khilok 19933 110.45 0.157199999999996
Baley 19553 116.6333 0.07610000000000383
Shimanovsk 15821 127.6667 0.49280000000000257
Svobodnyy 10980 128.1333 0.12389999999999901
Chegdomyn 17413 133.0241 0.38939999999999486
De-Kastri 26338 140.7833 0.04059999999999775
Nogliki 20307 143.1667 0.32610000000000383
Severo-Kuril’sk 25945 156.1167 0.8238999999999947
Bol’sheretsk 26535 156.3594 0.9318000000000026
Vilyuchinsk 14900 158.4 1.4261000000000053
Petropavlovsk-Kamchatskiy 2922 158.65 1.5095000000000027
Ust’-Kamchatsk 26308 162.435 4.706300000000006
Il’pyrskiy 26547 164.172 8.4602
Korf 26469 165.8183 8.8249
Pakhachi 26543 169.05 9.074400000000004
Beringovskiy 26390 179.3067 11.558300000000003

IndexError: list index out of range